header{
    background-color: #49152c;
    border-radius: 10px;
}

footer{
    background-color: #49152c;
    list-style-type: none;
    border-radius: 10px;
}

header ul .dropdown-menu{
    background-color: #480d15;
}

header nav div a img{
    width: 95px;
    height: 85px;
    margin: -15px;
}

main #Sobre img{
    width: 300px;
    height: 300px;
    border-radius: 200px;
}

footer div a img{
    width: 95px;
    height: 85px;
    margin: -15px;
}
