header{
    background-color: #49152c;
    border-radius: 10px;
}

footer{
    background-color: #49152c;
    list-style-type: none;
    border-radius: 10px;
    color: rgb(187, 187, 187);
}

header ul .dropdown-menu{
    background-color: #480d15;
}

header nav div a img{
    width: 95px;
    height: 85px;
    margin: -15px;
}

#Sobre {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("img/Cover - Img.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: 0;
}
canvas{
    align-items: center;
    z-index: 999 !important;
    justify-content: center;
}
#Sobre .row {
    position: relative;
    z-index: 1;
}

#Sobre img {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    object-fit: cover;
}

footer div a img{
    width: 95px;
    height: 85px;
    margin: -15px;
}
